/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.header,.footer {
  &__li {
    font-size: 1.5rem;
    padding-left: 1.2rem;
  }
}

.header {
  &__nav {
    display: block;
  }
}

.mobile-menu__btn {
  display: none;
}

.team,.recruit {
  &__inner {
    padding: 50px;
  }
}

.recruit{
  &__inner {
    flex-direction: row-reverse;
    
  }

  &__img,
  &__texts {
    flex-basis: 47%;
  }
}

