@media screen and (max-width: 599px) {
  .acd_menu,
  .acdc_menu {
    &_head {
      padding: 5px;
      background: #aaa;
      border-bottom: 1px solid #fff;
      color: #fff;
      cursor: pointer;
      box-sizing: border-box;

      span {
        margin-left: 10px;
        margin-right: 5px;
      }
    }

    &_body {
      text-align: start;
      height: 0;
      width: 90%;
      margin: auto;
      overflow: hidden;

      p {
        font-size: 14px;
        width: 95%;
        margin: auto;
        padding-bottom: 3px;

        span {
          font-weight: 600;
        }
      }

      &.acd-active {
        height: 100% !important;
      }
    }
  }
}
