.tab {
  font-size: 14px;
  margin: 20px auto;
  width: 90%;

  &__label {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    & li {
      flex-basis: 33.333%;
      & a {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 8px 0;
        color: #333;
        text-decoration: none;
        border-radius: 10px 10px 0 0;

        &.active {
          background: $cGreen;
          color: $cWhite;
        }

        &:not(.active):hover {
          opacity: 0.5;
          transition: 0.4s;
        }
      }
    }
  }
  &__content {
    display: none;
    &.active {
      background: $cGreen;
      color: $cWhite;
      font-size: 16px;
      min-height: 300px;
      height: 100%;
      padding: 15px;
      display: block;
      position: relative;
      padding-top: 3%;
      overflow: hidden;
    }
  }
}
