@import 'mixin';

@import 'hero-slider';

$cWhite: white;
$cBlack: black;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$cGreen: #096F0A;
$cSubTitle: #535353;
$cMenuOpen: $cBlack;
$cMenuClose: $cWhite;
$contentMaxWidth: 1070px;
$headerHeight: 65px;